* {
  font-family: 'GothamBook', sans-serif;
}

@font-face {
  font-family: 'GothamBook';
  src: url('/fonts/Gotham-Book.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'GothamBlack';
  src: url('/fonts/GOTHAM-BLACK.TTF') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'GothamBold';
  src: url('/fonts/GOTHAM-BOLD.TTF') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'GothamBoldItalic';
  src: url('/fonts/GOTHAM-BOLDITALIC.TTF') format('opentype');
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}